-@cart.items.each do |item|
  %p= link_to item.product.name, item.product
  %p= image_tag item.product.image.thumb
  %p= item.quantity
  %p= item.total_price

%p= @cart.total_price

%p= link_to "checkout", checkout_cart_path, class: "btn btn-default"
